<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Carrito</title>
</head>
<body>
	<h1>Tu pinche carrito</h1>
	<table>
		<caption>Carrito de compras</caption>
		<thead>
			<tr>
				<th>Imagen</th>
				<th>Producto</th>
				<th>Cantidad</th>
				<th>Quitar</th>
				<th>Precio Unitario</th>
				<th>SubTotal</th>
			</tr>
		</thead>
		<tbody>
			{% for item in cart %}
				{% with product=item.product %}
					<tr>
						<td>
							<img src="" alt="">
						</td>
						<td>
							{{product.nombre}}
						</td>
						<td>
							{{item.quantity}}
						</td>
						<td>
							<a href="{%url 'cart:cart_remove' product.id%}">
								Quitar
							</a>
						</td>
						<td>
							${{item.price}}
						</td>
						<td>
							${{item.total_price}}
						</td>
					</tr>
				{% endwith %}
			{% endfor %}
			<tr>
				<td>Total</td>
				<<td colspan="4"></td>
				<td>${{cart.get_total_price}}</td>
			</tr>
		</tbody>
	</table>												


</body>
</html>